<div class="container">
  <h1>Costumes</h1>

  <div class="card bg-dark text-white">
    <% @costumes.each do |costume| %>
      <img class="card-img" src="..." alt="Card image">
      <div class="card-img-overlay">
      <h5 class="card-title"><%= costume.name %></h5>
      <p class="card-text"><%= costume.description%></p>
      <p class="card-text"><%= costume.year %></p>
    <% end %>
  </div>
</div>



