.container-new {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  margin-top: 60px;
}

h3 {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.form-inputs {
  font-family: "Open Sans";
  font-size: 16px;
}
