// Specific CSS for your home-page
.container {
  text-align: center;
  margin-top: 40px;
}

.btn.btn-flat {
  margin: 0;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
  position: relative;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

#carouselExampleSlidesOnly {
  z-index: -99;
  position: absolute;
  width: 100%;
  top: 0;
}

.input-group.rounded {
  justify-content: center;
}

.titre-search p {
  text-align: center;
}

.carousel-inner {
  height: 60vh;
}

.wrap {
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

p {
  font-family: "Cormorant Garamond";
  font-size: 28px;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
}

