<div class="container">

  <div class="notification">
    <%= image_tag "https://www.vanityfair.fr/uploads/images/thumbs/201627/f0/marie_antoinette_slid_vf_5435.jpeg_north_375x310_transparent.jpg", class: "avatar-large"%>
    <div class="notification-content">
      <p><small>user.name</small></p>
      <p>user.name aimerait louer votre costume du booking.beginning_date au booking.ending_date.</p>
      <p>Souhaitez-vous accepter ou refuser sa demande?</p>
    </div>

    <div class="notification-actions">
      <%= link_to "✔️", "#", class: "btn btn-ghost" %> 
      <%= link_to "❌", '#', method: :delete, data: {confirm: "Etes-vous sûr de vouloir supprimer cette réservation?"}, class: "btn btn-ghost" %>
    </div>
  </div>

</div>