.btn-ghost {
  color: white;
  padding: 8px 24px;
  font-weight: bold;
  background: $gold;
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  color: white;
  background: black;
}

.btn.btn-flat.carousel_link {
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #E0C36D;
  padding: 8px 24px;
  transition: background 0.3s ease;
}

.btn-flat:hover.carousel_link {
  background: #E0C36D;
  color: white;
}

.special_arrow::before {
  content: '← ';
}

.special_arrow:hover::before {
  margin-right: 8px;
}
